node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
note.txt
backend/target/
backend/test/
frontend/dist/
.claude/

# RAG Data Config
backend/src/main/resources/rag-data/embeddings/*
backend/src/main/resources/rag-data/processed/*
backend/src/main/resources/rag-data/raw/resumes/*

PROJECT_DESCRIPTION.md
backend/dev/*
evals/*


